/* #superAccent {
  color: green;
} */

/* p {
  color: red;
  font-size: 20px;
  background-color: gold;
  border: 3px solid aqua;
}

.accent {
  color: gold;
  font-weight: 700;
}

.superAccent {
  color: green;
}

.superAccent2 {
  color: blue;
} */

/* section {
  color: red;
}

div {
  color: gold;
}

p {
  color: green;
} */

/* .intro-title,
.about-title {
  font-size: 30px;
  font-weight: 700;
}

.intro-title {
  color: gold;
}

.about-title {
  color: red;
} */


/* class - .
id - # */