
.clearfix {
    clear: both;
  }
  
  .container {
    width: 965px;
    margin: 0 auto;
    background-color: gold;
  }
  
  .post {
    /* width: 32%;
    opacity: 0.4; 
    float: left;*/
    background-color: red;
  }
.col {
  width: 31.25%;
  float: left;
  padding: 0 0 0 30px;
}

.col:first-child {
  padding-left: 0px;
}
