
.clearfix {
    clear: both;
  }
  
  .container {
    width: 965px;
    margin: 0 auto;
    background-color: gold;
  }
  
  .post {
    width: 32%;
    background-color: red;
    /* opacity: 0.4; */
    float: left;
  }
  
  .empty-place {
    float: left;
    background-color: gold;
    margin: 0px 0px 2% 2%;
    font-size: 0px;
  }