* {
    box-sizing: border-box;
    text-decoration: none;
}

.header-nav__link {
    color: #666;
}

.header-nav__link_border {
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col,
.col-4,
.col-5,
.col-7,
.col-8 {
    padding: 0 15px;
}

.col {
    flex: 1;
}

.col-1 {
    width: 8.333%;
}

.col-4 {
    width: 33.333%;
}

.col-5 {
    width: 41.666%;
}

.col-7 {
    width: 58.333%;
}

.col-8 {
    width: 66.666%;
}

.post {
    background-color: red;
}

.btn {
    width: 220px;
    height: 71px;
    background: #FFFFFF;
    /* display: block; */
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__img {
    margin-left: 15px;
}

.header-logo,
.header-nav {
    display: flex;
    justify-content: space-between;
    height: 102px;
    align-items: center;
}

.main-title,
.main-title__accent,
.article-content,
.date__item {
    font-family: TT Hoves;
    font-style: normal;
}

.main-title {
    font-weight: 300;
    color: #BDBDBD;
    margin: 63px 0 30px;
    font-size: 64px;
    line-height: 64px;
}

.main-title__accent {
    font-weight: bold;
    color: #333333;
    font-size: 64px;
    line-height: 64px;
}

.main-title__line {
    height: 1px;
    margin: 30px 0;
    background: #F2F2F2;
}

.article-1,
.article-2,
.article-3 {
    background: #FBFBFB;
    margin-bottom: 60px;
}

.article-title {
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    color: #BDBDBD;
    margin: 30px 0 20px;
}

.article-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}

.article-content__btn {
    margin-top: 64px;
}

.date-counter {
    display: flex;
    margin-bottom: 120px;
}

.img-arrow_isReversed {
    transform: rotate(180deg);
}

.date__item {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #BDBDBD;
}

.date__item--isCurrent {
    color: #333333;
}

.date-counter_date {
    display: flex;
    width: 143px;
    justify-content: space-between;
    align-items: center;
    margin-right: 26px;
}

.date-controls {
    display: flex;
    justify-content: space-between;
    width: 129px;
}

.date-controls__item {
    width: 53px;
    height: 53px;
    background: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
}

.slider-controls__item_isDisabled {
    background: #FFFFFF;
}

.btn-counter {
    border: 0px;
}