* {
    box-sizing: border-box;
    text-decoration: none;
}

.header-nav__link {
    color: #666;
}

.header-nav__link_border {
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col,
.col-4,
.col-5,
.col-7,
.col-8 {
    padding: 0 15px;
}

.col {
    flex: 1;
}

.col-1 {
    width: 8.333%;
}

.col-4 {
    width: 33.333%;
}

.col-5 {
    width: 41.666%;
}

.col-7 {
    width: 58.333%;
}

.col-8 {
    width: 66.666%;
}

.post {
    background-color: red;
}

.btn {
    width: 220px;
    height: 71px;
    background-color: #fff;
}

.btn--dark {
    background-color: #333333;
    color: #fff;
}

.intro-slides__btn {
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-logo,
.header-nav {
    display: flex;
    justify-content: space-between;
    height: 102px;
    align-items: center;
}