* {
    box-sizing: border-box;
    /* outline: none !important */
}

a {
    text-decoration: none;
}

.intro-title {
    font-size: 60px;
    font-weight: bold;
}

.intro-subtitle {
    font-size: 30px;
    font-weight: normal;
    color: gray;
}

.t-main-post {
    font-size: 30px;
    font-weight: bold;
}

.t-regular-title {
    font-size: 20px;
    font-weight: bold;
}

.t-article-content {
    font-size: 14px;
    font-weight: normal;
    color: gray;
}

.t-artic-reg-footer {
    font-size: 12px;
    color: gray;
}

.t-footer-a {
    font-weight: bold;
}

.t-main-what-is {
    font-size: 40px;
    font-weight: bold;
}

.t-article-what-is-content {
    font-size: 16px;
    font-weight: normal;
    color: gray;
}

.t-artic-what-is-footer {
    font-size: 14px;
    color: gray;
}

.t-see-more {
    font-size: 16px;
    font-weight: bold;
}

.main_nav {
    width: 965px;
    height: 85px;
    margin: 40px 0;
    border: 3px solid red;
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-self: right;
}

.icons {
    width: 30%;
    font-size: 16px;
    justify-items: right;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}